@import "../variables";
@import "../mixins";

.newsletter-cards {
  margin-top: 2rem;
}

.newsletter-card {
  @include card();
  display: flex;
  flex-direction: column;
  height: 100%;

  .newsletter-img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }
  }

  .newsletter-info {
    padding: $space-lg;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .newsletter-date {
      color: var(--theme-fg-accent);
      font-family: var(--font-family-headings);
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bolder);
      margin-bottom: $space-sm;
    }

    .latest-card-content {
      flex-grow: 1;
      p {
        font-size: var(--font-size-base);
        line-height: 1.5rem;
        color: var(--theme-fg);
      }
    }

    .links {
      margin-top: $space-md;
      .button-primary {
        padding: 0.5rem 1.5rem;
      }
    }
  }
}
