@import "../variables";
@import "../mixins";

// A grid of partner cards
.partner-cards {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: $space-lg;
  margin: 3rem 0;
}


.partner-card {
  @include card();
  padding: $space-xl;
  grid-template-columns: 1fr min-content;
  .logo {
    width: 100%;
    max-width: 100%;
    margin: 0 0 $space-md 0;
  }
  .partner-card-header {
    h3 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
  .button-primary {
    // Allow button text to wrap if necessary
    white-space: unset;
  }
  .partner-card-info {
    grid-area: info;
  }

  .partner-people {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: $space-lg;
    color: var(--theme-fg);
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-size-sm);

    .material-symbols-outlined {
      font-size: 1.5rem;
      margin-right: 0.25rem;
    }

    a {
      color: var(--theme-fg);
      text-decoration: none;

      &:hover {
        color: var(--theme-fg-accent);
        text-decoration: none;
      }
    }

    .separator {
      margin: 0 0.25rem;
      color: var(--theme-fg);
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .logo {
      max-width: 16rem;
      height: auto;
      margin: 0 0 $space-md $space-md;
      float: right;
    }
  }
}
