<footer class="footer">
    <div class="footer-content">
        <div class="footer-headings">
            <div class="logo">
                <a href="{{ relLangURL "" }}"><img src="{{ "images/ehri-logo-beige.svg" | relURL }}" alt="EHRI Logo"/></a>
            </div>
            <a href="{{ relLangURL "" }}" class="title">{{ .Site.Title }}</a>
        </div>

        <ul class="menu-1">
            {{- range site.Menus.footer }}
            <li>
                <a href="{{ .PageRef | relURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
            </li>
            {{- end }}
        </ul>

        <ul class="menu-2">
            <li>
                <a href="{{ relLangURL "services" }}">{{ i18n "services" }}</a>
                <ul>
                    {{- range site.Menus.services }}
                    <li>
                        <a target="_blank" href="{{ .PageRef | relURL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
        </ul>

        <ul class="menu-3">
            <li>
                <a href="{{ relLangURL "contact" }}">{{ i18n "contact" }}</a>
                <div class="contact-card">
                    <header>
                        <a href="mailto:{{ site.Params.contactEmail }}">
                            {{ site.Params.contactName }}
                        </a>
                    </header>
                    <a href="mailto:{{ site.Params.contactEmail }}">
                        <i class="fa fa-fw fa-envelope-o"></i>
                        {{ site.Params.contactEmail }}
                    </a>
                </div>
            </li>

        </ul>

        <div class="social">
            {{ partial "social.html" }}
        </div>

        <div class="partners">
            <p>{{ i18n "partners_funders" }}</p>
            <div class="partner-logos">
                <img src="{{ "images/eu-logo.svg" | relURL }}" alt="European Commission"/>
            </div>
        </div>

        <div class="footer-copyright">
            {{ replace .Site.Copyright "{year}" now.Year }}
        </div>
    </div>
</footer>
