<div class="partners">
    <p>{{ i18n "partners_funders" }}</p>
    {{ if eq .Language.Lang "cs" }}
        <div class="partner-logos">
            <a href="https://na.gov.cz/" target="_blank"><img class="partner-image partner-image-bigger sepia-image" src="{{ "images/logos/na_logo.png" | relURL }}" alt="NA"/></a>
            <a href="https://tikkun.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/tikkun_logo.jpg" | relURL }}" alt=""/></a>
            <a href="https://www.terezinstudies.cz/" target="_blank"><img class="partner-image" src="{{ "images/logos/ITI_logo_CZE_sepia.png" | relURL }}" alt=""/></a>
            <a href="https://www.ricany.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/ricany_logo.png" | relURL }}" alt=""/></a>
            <a href="https://www.jewishmuseum.cz/" target="_blank"><img class="partner-image sepia-image-invert" src="{{ "images/logos/zmp_logo.png" | relURL }}" alt=""/></a>
            <a href="https://fondholocaust.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/nfoh_logo.png" | relURL }}" alt="NFOH"/></a>
            <a href="https://www.pamatnik-terezin.cz/" target="_blank"><img class="partner-image partner-image-bigger sepia-image-invert" src="{{ "images/logos/pamatnik_terezin_logo.png" | relURL }}" alt=""/></a>
            <a href="https://antikomplex.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/antikomplex_logo.png" | relURL }}" alt=""/></a>
            <a href="https://mua.cas.cz/" target="_blank"><img class="partner-image sepia-image-invert" src="{{ "images/logos/mua_logo.png" | relURL }}" alt=""/></a>
        </div>
    {{ else }}
        <div class="partner-logos">
            <a href="https://na.gov.cz/" target="_blank"><img class="partner-image partner-image-bigger sepia-image" src="{{ "images/logos/NA_logo_ENG.png" | relURL }}" alt="NA"/></a>
            <a href="https://tikkun.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/tikkun_logo.jpg" | relURL }}" alt=""/></a>
            <a href="https://www.terezinstudies.cz/" target="_blank"><img class="partner-image" src="{{ "images/logos/ITI_logo_ENG_sepia.png" | relURL }}" alt=""/></a>
            <a href="https://www.ricany.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/ricany_logo.png" | relURL }}" alt=""/></a>
            <a href="https://www.jewishmuseum.cz/" target="_blank"><img class="partner-image sepia-image-invert" src="{{ "images/logos/zmp_eng_logo.png" | relURL }}" alt=""/></a>
            <a href="https://fondholocaust.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/nfoh_logo_eng.png" | relURL }}" alt="NFOH"/></a>
            <a href="https://www.pamatnik-terezin.cz/" target="_blank"><img class="partner-image partner-image-bigger sepia-image-invert" src="{{ "images/logos/pamatnik_terezin_logo_eng.png" | relURL }}" alt=""/></a>
            <a href="https://antikomplex.cz/" target="_blank"><img class="partner-image sepia-image" src="{{ "images/logos/antikomplex_logo.png" | relURL }}" alt=""/></a>
            <a href="https://mua.cas.cz/" target="_blank"><img class="partner-image sepia-image-invert" src="{{ "images/logos/MUA_logo_ENG.png" | relURL }}" alt=""/></a>
        </div>
    {{ end }}

    <div class="partner-info">
        <p>{{ i18n "footer_support" }}</p>
    </div>
    <div class="partner-logos">
        <img src="{{ "images/eu-logo.svg" | relURL }}" alt="European Commission"/>
        <img id="lindat-logo" src="{{ "images/logos/LINDAT-CLARIAH-cz-gray_0.svg" | relURL }}" alt="LINDAT/CLARIAH-CZ"/>
    </div>
</div>