<nav class="nav main-navbar navbar-container" role="navigation">
    <label for="hamburger-toggle">Show menu</label>
    <input id="hamburger-toggle" class="hamburger-toggle" type="checkbox"/>
    <span class="hamburger-part"></span>
    <span class="hamburger-part"></span>
    <span class="hamburger-part"></span>

    <div class="navbar">
        <ul class="text-items header-menu">
            {{- $page := . -}}
            {{- range site.Menus.main -}}
            <li class="header-menu-item{{ if or ($page.IsMenuCurrent .Menu .) ($page.HasMenuCurrent .Menu .) }} active{{ end }}{{ if .HasChildren }} has-children{{ end }}">
                <a href="{{ .PageRef | relLangURL }}">{{ or (or (T .Identifier) .Name) .Identifier | safeHTML }}</a>
                {{ if .HasChildren }}
                <ul class="header-submenu">
                    {{ range .Children }}
                    <li class="header-submenu-item{{ if $page.IsMenuCurrent .Menu . }} active{{ end }}">
                        <a href="{{ .PageRef | relLangURL }}">{{ or (or (T .Identifier) .Name) .Identifier | safeHTML }}</a>
                    </li>
                    {{ end }}
                </ul>
                {{ end }}
            </li>
            {{- end -}}
        </ul>

        {{ partial "social.html" }}
    </div>
</nav>
