<div class="partner-card">
    {{ $url := printf "images/%s" .image }}
    {{ $imgpath := printf "static/%s" $url }}
    {{ if fileExists $imgpath }}
        <img class="logo" src="{{ $url | relURL }}" alt="{{ .title }} image" />
    {{ else }}
        {{ $url := "images/cards-still-1.png" }}
        <img class="logo" src="{{ $url | relURL }}" alt="{{ .title }} image" />
    {{ end }}
    <header class="partner-card-header">
        <h3 property="name"><a href="{{ .url }}">{{ .title }}</a></h3>
    </header>
    <div class="partner-card-info">
        <div property="description">{{ .content | page.RenderString (dict "display" "block")  }}</div>
        {{ if .people }}
        <div class="partner-people">
            <span class="material-symbols-outlined">account_circle</span>
            {{ range $index, $person := .people -}}
                <a href="{{ $person.url | relURL }}">{{ $person.name }}</a>{{- if ne $index (sub (len $.people) 1) }} <span>–</span> {{ end }}
            {{- end }}
        </div>
        {{ end }}
        <a class="button-primary" target="_blank" href="{{ .url }}" property="sameAs">{{ i18n "go_to" (dict "Name" .title) }}</a>
    </div>
</div>
