<div class="person-card {{ if .link }}person-card-clickable{{ end }}">
    {{ if .link }}
        <a href="{{ .link | relURL }}" class="person-card-link" aria-label="{{ .name }}"></a>
    {{ end }}
    <div class="person-card-image">
        {{ $image := .image | default "people/person-icon.png" }}
        {{ $url := printf "images/%s" $image }}
        {{ $imgpath := printf "static/%s" $url }}
        {{ if fileExists $imgpath }}
            <img src="{{ $url | relURL }}" alt="{{ .name }}" />
        {{ else }}
            <img src="{{ "images/people/person-icon.png" | relURL }}" alt="{{ .name }}" />
        {{ end }}
    </div>
    <div class="person-card-content">
        <h2 class="person-name">{{ .display_name | default .name }}</h2>
        <div class="person-bio">
            {{ .about | page.RenderString (dict "display" "block") }}
        </div>
        <div class="person-footer">
            <div class="person-full-name">{{ .name }}</div>
            <div class="person-email">
                <i class="fa-regular fa-envelope"></i>
                <a href="mailto:{{ .email }}">{{ .email }}</a>
            </div>
        </div>
    </div>
</div>
